

.chat-section {
    background-image: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 77.9vh;
    overflow-y: auto;
}
  
  .focusedTextField .MuiInputLabel-root.Mui-focused {
    color: white;
  }
  
  .focusedTextField .MuiOutlinedInput-root.Mui-focused fieldset {
    border-width: 1px;
    border-color: white;
  }
  