
@font-face {
  font-family: 'pong';
  src: url("../public/pong.ttf");
}

.chatSection {
    background-image: none;
    background-color: var(--secondary-color);
    border-radius: 10px;
    height: 81.3vh;
    display: flex;
    flex-direction: column;
}
  
  .focusedTextField .MuiInputLabel-root.Mui-focused {
    color: white;
  }

  .focusedTextField .MuiOutlinedInput-root.Mui-focused fieldset {
    border-width: 1px;
    border-color: white;
  }

  .homeScoreBar {
    background-color: var(--primary-color);
    box-shadow: 4;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
    position: relative;
  }

  .gameBoxBar {
    background-color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 50vw;
    color: white;
  }

  .ingameChatBar {
    background-color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 25px;
  }

  .ingameChatBox {
    background-color: var(--secondary-color);
    height: 25vh;
    border-radius: 10px;

  }

  .homeScoreBox {
    background-color: var(--secondary-color);
    height: 27vh;
    box-shadow: 4;
    border-radius: 10px;
  }
  
  .mainContainerStyle {
    display: flex;
    position: fixed;
    top: 9vh;
    left: 0;
    right: 0;
  }
  
  .friendsAndChannelStyle {
    width: min(35vw, 400px);
    margin-left: 20px;
  }
  
  .conversationStyle {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
  }

  .chatTextField {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .friendsAndChannelBoxes {
    background-color: var(--secondary-color);
    overflow-y: auto;
    overflow-x: auto;
    height: 39vh;
    border-radius: 10px;
    padding: 10px;
  }

  .chatOptionBars {
    flex-grow: 0;
    background-color: var(--primary-color);
  }

  .chatBar {
    position: relative;
    box-shadow: none;
  }
  
  .loginBox {
    background-color: white;
    border-radius: 10px;
  }

  .loginTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: var(--secondary-color);
    border-width: 1px;
  }

  .loginTextField .MuiInputLabel-root {
    color: grey;
    border-width: 1px;
    display: flex;
    align-items: center;
  }

  .loginTextField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--secondary-color);
    border-width: 2px;
  }

  .loginTextField .MuiTypography-root {
    color: grey;
  }

  .signInStyle {
    margin-top: 1;
    text-align: center;
    color: var(--secondary-color);
  }

  .loginTextFieldText input {
    color:black;
  }

  .dashboardTitle {
    background-color: var(--primary-color);
  }